<div class="main-container sidebar-animation" [ngStyle]="{'margin-left.px': generalService.getSidebarWidth()}">
  <div id="page" class="card text-center">


    <div class="col-12 pt-3 pb-3" id="yui_3_17_2_1_1560256447708_38">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="mr-auto">
              <div class="page-context-header"><div class="page-header-image"><a href="https://moodle.w-hs.de/user/profile.php?id=19950"><img src="https://moodle.w-hs.de/pluginfile.php/128525/user/icon/boost/" class="userpicture" width="100" height="100" alt="Nutzerbild Mohamed Karim Swissi" title="Nutzerbild Mohamed Karim Swissi"></a></div><div class="page-header-headings"><h1>Mohamed Karim Swissi</h1></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
