<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">Test-C-<span>Admin</span></div>
  </div>
</div>

<div class="header-container"*ngIf="isLoggedIn">
  <button type="button" class="btn btn-outline-danger btn-icon" (click)='logout()' >
    <i>Logout</i>
  </button>
</div>
