
  <div class="row">
      <div class="col-md-12 col-lg-12 col-xxxl-6" *ngFor="let aufgabenblatt of aufgabenblaette;let i=index">
        <nb-card>
          <nb-card-header><h3>{{aufgabenblatt}}</h3><img src="../../../assets/images/folder-icon-svg-6.jpg" height="60" width="60"></nb-card-header>
          <nb-card-body>
              <nb-accordion >
                  <nb-accordion-item #item *ngFor="let file of makefiles[i];let j=index">
                    <nb-accordion-item-header>
                        <img src="../../../assets/images/c-128.png" height="30" width="30">
                        {{file}}
                       
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <div  ngbRadioGroup  class="btn-group btn-group-toggle btn-group-full-width">
               <button type="button" class="btn btn-primary">Bearbeiten</button>
                <button ngbButtonLabel type="button" class="btn btn-danger" (click)="deleteAttachment(i,j)">Löschen</button>
                       </div>
                 </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>
<!--Begin SRC-->
              <nb-accordion>
                  <nb-accordion-item #item>
                    <nb-accordion-item-header>
                        <img src="../../../assets/images/folder-icon-svg-6.jpg" height="30" width="30">
                       <div>../ SRC</div> 
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                      <!--Begin SUB-SRC-->
                        <nb-accordion *ngFor="let file of hrcfilesfiles[i];let l=index">
                            <nb-accordion-item #item>
                              <nb-accordion-item-header>
                                  <img src="../../../assets/images/c-128.png" height="30" width="30">
                                  {{file}}
                                 
                              </nb-accordion-item-header>
                              <nb-accordion-item-body>
                                  <div  ngbRadioGroup  class="btn-group btn-group-toggle btn-group-full-width">
                         <button type="button" class="btn btn-primary">Bearbeiten</button>
                          <button ngbButtonLabel type="button" class="btn btn-danger" (click)="deleteAttachmentSrc(i,l)">Löschen</button>
                                 </div>
                           </nb-accordion-item-body>
                            </nb-accordion-item>
                          </nb-accordion>
                      <!--END SUB-SRC--->

                    </nb-accordion-item-body>
                  </nb-accordion-item>
            
                </nb-accordion>
<!--End SRC-->


<!--Begin SRC-->
                <nb-accordion>
                    <nb-accordion-item #item>
                      <nb-accordion-item-header>
                          <img src="../../../assets/images/folder-icon-svg-6.jpg" height="30" width="30">
                         <div>../ Test</div> 
                      </nb-accordion-item-header>
                      <nb-accordion-item-body>
                         <!--Begin SUB-SRC-->
                         <nb-accordion *ngFor="let file of htestfilesfiles[i]let p=index">
                            <nb-accordion-item #item>
                              <nb-accordion-item-header>
                                  <img src="../../../assets/images/c-128.png" height="30" width="30">
                                  {{file}}
                                 
                              </nb-accordion-item-header>
                              <nb-accordion-item-body>
                                  <div  ngbRadioGroup  class="btn-group btn-group-toggle btn-group-full-width">
                         <button type="button" class="btn btn-primary">Bearbeiten</button>
                          <button ngbButtonLabel type="button" class="btn btn-danger" (click)="deleteAttachmentTest(i,p)">Löschen</button>
                                 </div>
                           </nb-accordion-item-body>
                            </nb-accordion-item>
                          </nb-accordion>
                      <!--END SUB-SRC--->
                      </nb-accordion-item-body>
                    </nb-accordion-item>
              
                  </nb-accordion>
<!--End SRC-->                  
          </nb-card-body>
        </nb-card>
      </div>