
<div class="center">
  <nb-card >
    <nb-card-header>Aufgabenblatt-Info</nb-card-header>
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
          <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne" > 
              <ng-template #labelOne>Lösung</ng-template>
              <h3>Aufgabenblatt-Lösung Hochladen #1</h3>
              
    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
      <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
    </div>
    <div  class="files-list"  *ngIf="isFilehier">
      <img src="../../../assets/images/c-128.png">
      <p>{{fileName}}</p>
      <div><button type="button" class="btn btn-success" (click)="pushtoserve(newAufgabenblatt.value)">Upload</button></div>
      <button class="delete-file" (click)="deleteAttachment()">
        <img src="../../../assets/images/Recycle_Bin_Full.png">
      </button>
    </div>
              <button nbButton disabled nbStepperNext>prev</button>
              <button nbButton nbStepperNext disabled="isdes">next</button>
            </nb-step>
            <nb-step [label]="labelTwo" >
              <ng-template #labelTwo>Testen</ng-template>
              <h3>Führen Sie die Tests durch #2</h3>
             <div><button type="button" class="btn btn-success" nbStepperNext (click)="jenkinsbuildf(newAufgabenblatt.value)">Testen</button></div> 
              
            </nb-step>

            <nb-step [label]="labelThree">
              <ng-template #labelThree>Ergebnis</ng-template>
              <div class="col-12 pt-3 pb-3" id="yui_3_17_2_1_1560256447708_38">
                <div class="card">
                  <div class="card-body">
                    <div class="card text-center">
                      <div class="card-header">
          
                        <div class="p-3 mb-2 bg-primary text-white">Testergebnis</div>
                      </div>
                      <nb-card [nbSpinner]="this.showSpinner" nbSpinnerSize="xxlarge">
                        <nb-card-body>
                          <div style="white-space:pre;" ><pre>{{ this.resp}}</pre></div>
                        </nb-card-body>
                      </nb-card>
                      
                    </div>
                  </div>
                </div>
              </div>
              <button nbButton nbStepperPrevious (click)="inisialise()">prev</button>
              <button nbButton nbStepperNext disabled >next</button>
            </nb-step>

          </nb-stepper>
        </nb-card-body>
      </nb-card>
    <nb-card-body>
      <div class="form-group">
        <input #newAufgabenblatt type="text" nbInput fullWidth status="info"  placeholder="Aufgabenblatt-N..">
      </div>
      <div class="center">
        <nb-card>
          <nb-card-header>Upload Datum</nb-card-header>
          <nb-card-body>
            <input nbInput
                   placeholder=" Datum"
                   [nbDatepicker]="formpicker">
            <nb-datepicker #formpicker></nb-datepicker>
          </nb-card-body>
        </nb-card>
        <nb-card [nbSpinner]=spinner nbSpinnerStatus="success">
          <nb-card-body class="center">
          </nb-card-body>
        </nb-card>
      </div>
    </nb-card-body>
  
    
  </nb-card>
